body {
    border-radius: 8px;
    background-color:#212529;
    width: 200px;
}

h2 {
    color: white;
}

.button {
    margin-top: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:active {
    
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

#start {
 background-color: #57c75b;
}

#start:hover {
    background-color: #65ea69;
   }

#stop {
    background-color: #b74141;
}

#stop:hover {
    background-color: #ef5d5d;
}

.some-margin{
    margin-top:1.5rem
}